::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.nav-link {
  font-weight: 300 !important;
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
  padding: 0.5rem !important;
}

.nav-link:hover {
  padding-bottom: 3px;
}

.comment {
  padding-bottom: 0.5em;
}
.comment_body {
  font-size: 15px;
  font-style: italic;
  line-height: 1.5;
}

.comment_author {
  font-size: 15px;
  font-weight: 500;
}

/* NAV */
.header {
  background-color: #131e26;
}

/* PRODUCT DETAILS */
.productDetailCom {
  /* background-color:#f8f9fa !important; */
  padding-top: 100px;
}

.homepageTitle {
  text-align: center !important;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  width: 24%;
  margin-bottom: 15px;
}

.product-card {
  border: none !important;
  padding-left: 50px;
  padding-right: 50px;
  /* background-color: #f8f9fa; */
}

/* CART */
.cart-item-row {
  display: flex;
  margin-top: 20px;
}

.cart-image img {
  width: 120px;
  margin-right: 20px;
}

.emptyCart img {
  width: 100%;
  height: 100%;
}

.signinBtn {
  display: block;
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 0;
  /* border-radius: 15px; */
  /* background-color: #81c91d; */
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  /* box-shadow: 0 10px 20px -5px rgba(#81c91d, 0.9); */
  outline: none;
}

.ggLoginBtn {
  border-radius: 16px;
  background-color: #4c6ef4;
  text-decoration: none;
  padding: 7px;
  margin-bottom: 45px;
  box-shadow: 0 10px 20px -5px rgba(#4c6ef4, 0.9);
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

/* PRODUCT CARD */
.productCard {
  flex-basis: 200px;
  padding: 15px 15px 10px;
  border-radius: 15px !important;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
  cursor: pointer;
}

.productCardImg {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  transition: transform 0.5s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.productCardImg img {
  border-radius: 15px;
  height: 200px;
}

.productCard img {
  height: 200px;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -webkit-transition: transform 0.5s, filter 0.5s ease-in-out;
  -moz-transition: transform 0.5s, filter 0.5s ease-in-out;
  -ms-transition: transform 0.5s, filter 0.5s ease-in-out;
  -o-transition: transform 0.5s, filter 0.5s ease-in-out;
}

.productCard:hover img {
  filter: brightness(100%);
  transform: scale(1.2);
}

.productCardBody {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  background: 0 0;
  /* background-color: #f8f9fa; */
  padding-bottom: 10px;
  padding-left: 10px;
  height: 200px;
}

.productCardName {
  font-size: 18px;
  /* line-height: 1.5rem; */
  font-weight: 600;
  margin-bottom: 5px;
}

.productCardPrice {
  width: 60px;
  /*height: 28px;
    */
  border-radius: 10px;
  background-color: #29324b;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 400;
  padding-top: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.productDetailName {
  /* margin-top: 15px; */
  color: #555555;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

.productDetailBadge {
  height: 20px;
}

.productInfoRow span {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.14);
}

.is-divider {
  height: 3px;
  display: block;
  background-color: #555555;
  margin: 1em 0 1em;
  width: 100%;
  max-width: 30px;
}

.productDetailPrice {
  color: rgb(242, 82, 32);
  margin-top: 15px;
}

.productDetailImg {
  margin-right: 50px;
}

/* .productDetailImg img {
	width: 400px;
} */

.productDetailRVlist {
  margin-top: 50px;
  padding-left: 15%;
}

.productCardBtn {
  width: 160px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  /*padding: 10px 0;
    */
  background: #f69300;
  color: #fff;
  border-radius: 10px;
  outline: 0;
  border: 0;
  padding: 5px;
  opacity: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.productCardDes-Btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productCard:hover {
  transition: 1s;
  border: 1px solid #dee2e6;
}

.productCard:hover .productCardDescription {
  opacity: 0;
}

.productCard:hover .productCardBtn {
  position: absolute;
  top: 15px;
  opacity: 1;
}

.productCardBtn:active {
  outline: none;
}

.editDeleteProduct {
  justify-content: space-between;
}

/* HOMEPAGE */
.homePageProduct {
  background-color: #dee2e6;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 3px 0 #dee2e6;
}

.innerHomePageProduct {
  background-color: white !important;
  box-shadow: 0 0 3px 0 #dee2e6;
  border-radius: 6px;
  margin: 5px;
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

button:active {
  -webkit-box-shadow: inset 0px 0px 5px;
  -moz-box-shadow: inset 0px 0px 5px;
  box-shadow: inset 0px 0px 5px;
  outline: none;
}

/* 
*/

.fullheight {
  /* height: 80vh; */
  background-image: url("./images/download.jpeg") !important;
  z-index: 100;
  height: calc(100vh - 75px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.product-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.img-wrapper img {
  height: auto;
  width: 80%;
  filter: drop-shadow(5px 5px 10px #7979794f);

  -webkit-filter: drop-shadow(8px 8px 10px #0000004f);
  -webkit-filter: drop-shadow(5px 5px 10px #7979794f);
}

.product-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10%;
  color: var(--silver);
}

.info-wrapper {
  margin: auto;
  position: relative;
  text-align: right;
}

.product-name h2 {
  font-weight: 900;
  color: var(--black);
}

.product-description {
  margin: 60px 0;
  text-align: justify;
  font-weight: 600;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*  ANIMATION */

.right-to-left {
  transition: 1s;
  transform: translateX(100%);
}

.active .right-to-left {
  transform: translateX(0);
}

.bottom-up {
  transition: 1s;
}

.active .bottom-up {
  transform: translateY(0);
}

.left-to-right {
  transition: 1s;
  transform: translateX(-150%);
}

.active .left-to-right {
  transition: 1s;
  transform: translateX(0);
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.header-top {
  /* background-color: #f8f9fa; */
  color: white !important;
}

.header-top-area {
  display: flex;
  justify-content: space-between;
  /* height: 70px; */
}

.header-bottom-area {
  display: flex;
  justify-content: space-between;
}

.header-top-left {
  display: flex;
  align-items: center;
}

.header-top-left span {
  font-size: 40px;
}

.head-top-right {
  width: 100%;
  right: 0;
}

.categorySelect {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.innerCategoryItem {
  width: 60px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categorySelect img {
  width: 50px;
  margin-bottom: 10px;
}

/* PRODUCT CARD */

/* CART */
.cartTotal {
  text-align: right;
  margin-right: 30px;
}

.cartTotal p {
  font-size: 30px;
}

/* SELLER */
.sellerDashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.dataGrid {
  width: 80%;
  padding-top: 50px;
}

.reviewFormInPD {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.sellerAllProducts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.sellerProductItem {
  display: flex;
  justify-content: center;
}

.revenueChart {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.revenueChart h3 {
  text-align: center;
  margin-bottom: 30px;
}

.myTab {
  border: none !important;
}

/*header-search*/
.header-lower-area {
  margin-left: auto;
}

.header-search-form {
  position: relative;
  overflow: hidden;
  width: 50%;
  overflow: hidden;
}

.header-search-form input {
  margin-bottom: 0;
  border: 0;
  /* background-color: transparent; */
  border-color: #4ca8e0;
  width: 100% !important;
  height: auto;
}

.header-search-form input:focus {
  /* background-color: #eef1fa; */
  width: 100%;
}

.header-search-form button {
  position: absolute;
  right: 0 !important;
  top: 0 !important;
  height: auto;
  padding-bottom: 10px !important;
  font-size: 18px;
  font-weight: 600;

  background-color: black;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  border: 0;
}

.header-search-form-inner {
  height: 32px;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.kwSubmit {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

  padding: 0 10px;
  padding-bottom: 20px !important;
}

.kwSubmit:hover,
.kwSubmit:active,
.kwSubmit:visited {
  background-color: white !important;
  color: black !important;
  border-color: 1px solid black !important;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 180px;
}

/* SUPPORT */

.support-area {
  padding: 50px 0;
}

.support-single {
  text-align: center;
}

.support-single span {
  font-size: 30px;
  color: #ffc107;
  margin-bottom: 15px;
}

/* FOOTER INFO */
.footer_info {
  background-color: black;
  color: #ffffff;
  font-size: 12px;
  /* display: flex;
    justify-content: space-between !important; */
}

.footer_info__items {
  display: flex;

  justify-content: space-between;
  padding: 20px 10%;
}

.footer_info__item {
  width: 33%;
  padding-right: 20px;
}

.footer_info__item p:first-child {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer_info__item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  text-decoration: none !important;
  color: #ffffff;
  padding-bottom: 10px;
}

.footer_info__item a:hover {
  color: gray;
}

.contact p:nth-child(2),
.contact p:nth-child(3),
.contact p:nth-child(4) {
  padding-bottom: 10px;
}

/* FOOTER */
.footer {
  background-color: #000000 !important;
  color: #ffffff;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.footer__left {
  font-size: 12px;
}

.footer__left,
.footer__right {
  display: flex;
  align-items: center;
}

.footer__right i {
  font-size: 20px;
  padding-left: 5px;
}

/* HISTORY */
/* .historyProductRow {
  border: 1px solid gray;
} */

.historyProductRow p {
  padding: 0;
  margin: 0;
}

/* PROFILE PAGE */
.adminProfilePage,
.sellerProfilePage,
.userProfilePage {
  /* background-color: #f8f9fa; */
  padding-top: 50px;
}

.sellerProfilePage img {
  width: 100px;
}

.addProductBtn {
  background-color: #003366 !important;
  text-decoration: none !important;
  padding: 10px;
}

/* HEADER */

.upper_header {
  height: 30px;
  /* background-color: #3b4c5b; */
  display: flex;
  justify-content: space-between !important;
  color: #ffffff;
  font-size: 12px;
}

.upper_header a:hover {
  color: #ffffff;
  text-decoration: none;
  /* padding-top: 5px; */
}

.upper_header__left,
.upper_header__right {
  line-height: 30px;
  z-index: 100;
}

.upper_header__right {
  z-index: 1000;
}

.upper_header__right div a:hover {
  margin-top: -5px !important;
  transition-duration: 0.1s;
}

.upper_header__right div a {
  transition-duration: 0.1s;
}

.lower_header {
  height: 60px;
  /* background-color: #131e26; */
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 12px;
  position: relative;
  align-items: center;
}

.logo,
.nav {
  line-height: 60px;
}

.check_out {
  height: 60px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.logo a {
  font-size: 24px;
}

.logo a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav {
  position: absolute;
  left: 20%;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 20px;
}

.check_out {
  text-align: right;
}

.CTA {
  background-color: black !important;
  border: 1px solid gray !important;
}

.CTA a {
  text-decoration: none !important;
  color: white !important;
}

.blink_me {
  color: gray;
  animation: blinker 2s linear infinite;
  -webkit-animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.slider {
  overflow: hidden;
}

.pagination li {
  margin-right: 10px;
}

.pagination li:active {
  background-color: transparent !important;
  color: black !important;
}

.float-left {
  float: left;
}

/* history */

.table-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

.seller-table {
  /* border: 2px double black; */
  /* margin: 10px; */
  width: 1200px;
}

.seller-table thead {
  border-bottom: 3px solid rgb(122, 148, 167);
  background: rgb(87, 158, 222);
  background: linear-gradient(
    90deg,
    rgba(87, 158, 222, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
.seller-table tbody tr {
  border-bottom: 1px solid rgb(162, 162, 162);
}

.seller-table tbody tr td div {
  border-bottom: 1px solid black;
}
.seller-table tbody tr td div:last-child {
  border-bottom: none !important;
}

.seller-table td,
.seller-table div {
  padding: 10px;
}

.seller-table tbody tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
  transition-duration: 0.3s;
}

.seller-table tbody tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
  transition-duration: 0.3s;
}

.seller-table tbody tr:nth-child(even):hover {
  background-color: rgb(197, 251, 255);
  transition-duration: 0.3s;
}
.seller-table tbody tr:nth-child(odd):hover {
  background-color: rgb(197, 251, 255);
  transition-duration: 0.3s;
}

.seller-table img {
  width: auto;
  height: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.no-padding {
  padding: 0 !important;
}

.page-item .page-link {
  color: #ffc107 !important;
  font-weight: 500;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.active .page-link {
  background-color: #ffc107 !important;
  color: black !important;
  border: #ffc107;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* CATEGORY */
.categoryItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px;
  transition: box-shadow 0.3s;
  border-radius: 10px;
}

.categoryItem:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.innerCategoryItem {
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.registerBtn {
  margin-top: 20px !important;
}

.profileImg img {
  width: 300px;
}

@media only screen and (max-width: 450px) {
  .upper_header__left p {
    display: none;
  }
  .footer_info__items {
    padding: 0;
    flex-wrap: wrap;
  }
}

/* Force DataGrid column header background and text color for dark mode (all versions) */
.MuiDataGrid-columnHeaders, .MuiDataGrid-columnHeader {
  background: #11131a !important;
  color: #fff !important;
  border-bottom: 2px solid #23283a !important;
  font-weight: 900 !important;
  font-size: 1.12rem !important;
  letter-spacing: 0.5px !important;
}

/* DataGrid header: modern dark theme */
.MuiDataGrid-columnHeaders {
  background: linear-gradient(90deg, #181c24 0%, #23283a 100%);
  color: #fff;
  border-bottom: 2px solid #23283a;
  font-weight: 700;
  font-size: 1.13rem;
  letter-spacing: 0.7px;
  min-height: 56px;
  height: 56px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.18);
  padding-top: 6px;
  padding-bottom: 6px;
}

/* First and last header cell: rounded corners */
.MuiDataGrid-columnHeader:first-of-type {
  border-top-left-radius: 12px;
}
.MuiDataGrid-columnHeader--last {
  background: linear-gradient(90deg, #181c24 0%, #23283a 100%);
  border-top-right-radius: 12px;
  color: #fff;
}

/* DataGrid filler: match header background for seamless look */
.MuiDataGrid-filler {
  display: none !important;
}
